.main {
  padding-top: 9.375rem;
  padding-bottom: 6.25rem;
}

.skillsContent,
.skillsContent2 {
  width: 70%;
  margin: 0 auto;
}

.skillsContent h2,
.skillsContent2 h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
}

.skillsContent p {
  font-size: 1.2rem;
  font-family: "Josefin Sans", sans-serif;
  line-height: 2.5rem;
}

.skillWrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.card {
  /* padding: 2rem 1rem; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0.7rem;
  padding-right: 0.5rem;
  border: 1px solid rgb(241, 202, 129);
  border-radius: 0.375rem;
  cursor: pointer;
  transition: 0.3s ease-out;
  font-size: 1.2rem;
  width: 17%;
}

.card h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

.card:hover {
  border: 1px solid orangered;
}

.skillsContent2 {
  margin-top: 5rem;
}

.skillsContent2 h3 {
  font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .skillsContent,
  .skillsContent2 {
    width: 80%;
  }

  .skillWrapper {
    flex-wrap: wrap;
  }

  .card {
    width: 22%;
  }
}

@media screen and (max-width: 768px) {
  .skillsContent,
  .skillsContent2 {
    width: 90%;
    margin: 0 auto;
  }

  .skillsContent p,
  .skillsContent2 p {
    font-size: 1.1rem;
  }

  .skillWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 100%; */
  }

  .card {
    width: 30%;
  }

  .skillsContent2 {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .skillsContent,
  .skillsContent2 {
    width: 95%;
  }
}

@media screen and (max-width: 500px) {
  .skillsContent h2,
  .skillsContent2 h3 {
    text-align: center;
  }

  .skillsContent p,
  .skillsContent2 p {
    text-align: center;
  }

  .card {
    width: 100%;
    margin-top: 0.5rem;
  }
}
